/* add CSS customizations here */

body {
    grid-template-columns: 5% 90% 5%
}

header {
    color: white;  /* fixed text color in header due to background image */
    background-image: url('../images/Black-Rock-Desert-Aug-2005-Img_5081-cropped.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header.avgeek {
    background-image: url('../images/IMG_20250413_202532-PDX-cropped.jpg');
}

body > header {
    padding: 0
}

.social-icon {
    vertical-align: middle;
}

h1, h2, h3, h4 {
	clear:both
}

p.clear, li.clear {
	clear:both
}
